<nav class="navbar">
  <div class="left">
    <a routerLink="/" class="logo">Blog Platform</a>
    <a *ngIf="userName" routerLink="/posts">Posts</a>
    <a *ngIf="userName" routerLink="/create">New Post</a>
  </div>

  <div class="right">
    
    <ng-container *ngIf="!userName; else loggedIn">
      <div class="dropdown">
        <button class="account-btn">Account ⬇</button>
        <div class="dropdown-menu">
          <a routerLink="/login">Login</a>
          <a routerLink="/signup">Sign Up</a>
        </div>
      </div>
    </ng-container>

    
    <ng-template #loggedIn>
      <span class="welcome">Hi, {{ userName }}</span>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </ng-template>
  </div>
</nav>
