<div class="container">
  <div *ngIf="isLogin; else signUpTemplate">
    <h2>Blog Platform</h2>
    <input [(ngModel)]="email" placeholder="Email" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />
    <button (click)="login()">Log In</button>
    <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
    <p>Don't have an account? <a (click)="toggleForm()" style="cursor: pointer">Sign Up</a></p>
  </div>

  <ng-template #signUpTemplate>
    <h2>Sign Up</h2>
    <input [(ngModel)]="email" placeholder="Email" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />
    <button (click)="signUp()">Sign Up</button>
    <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
    <p>Already have an account? <a (click)="toggleForm()" style="cursor: pointer">Log In</a></p>
  </ng-template>
</div>
